body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
